/* navbar */

.navbar{
    padding-left: 90px;
    padding-right: 90px;
}

.navbar-brand{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
}

.nav-link{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}

/* tutup navbar */

/* detail */

.detail{
    margin-left: 100px;
    margin-top: 100px;
}

.detail-name{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: #000000;
}

.detail-price{
    margin-top: 7px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;

    color: #F39404;
}

.size h5{
    margin-top: 9px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;

}

.form-size{
    border: none;
    width: 105px;
    height: 32px;
    background: #D9D9D9;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;

    color: #000000;

}

.add{
    margin-top: 5px;
}

.form-add{
    border: none;
    width: 39px;
    height: 29px;
    background: #D9D9D9;
    text-align: center;
}

.add button{
    background-color: white;
    border: none;
    outline: none;
}

.btn-add{
    margin-top: 8px;
    border: none;
    width: 157px;
    height: 32px;
    background: #cfcdcd;
    border-radius: 4px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;

    color: #000000;

}

.detail p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}

/* tutup detail */

/* featured product */

.faut{
    margin-top: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 42px;
    /* identical to box height */


    color: #000000;
}

.featured{
    margin-left: 190px;
    margin-bottom: 80px;
}

.product-name{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-align: center;

    color: #000000;
}

.product-price{
    margin-top: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    text-align: center;

    color: #F39404;
}

/* tutup featured product */



/* footer */

footer{
    padding-left: 100px;
    background: #D9D9D9;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-brand p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;

}

.footer-item{
    margin-left: 300px;
}

.footer-link{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #000000;

}

.footer-contact{
    margin-left: 180px;
}

.fab{
    font-family: fontawesome;
    font-size: 30px;
}
.fas{
    font-family: fontawesome;
    font-size: 24px;
}

.cnt{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    margin-bottom: 12px;
}

.smed{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.copyright{
    padding-top: 12px;
    width: 1440px;
    height: 45px;
    background: #B7B2B2;
}

.copyright h5{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}
/* tutup footer */
